@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* Variáveis */
:root {
  --main-color: #9900cc;
  --second-color: #FF6600;
  --default-color: #1A2E35;
  --white-color: #FFF;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  list-style: none;
}

html {
  /* Cada rem corresponde a 10px */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, p, span, a, input, button {
  font-family: 'Poppins', sans-serif;
  color: var(--default-color);
}

/* Classes Globais */
.container {
  max-width: 1640px;
  width: 100%;
  padding: 0 5%;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  margin: 0;
  padding: 0;
}

.btn-default {
  display: inline-block;
  background-color: var(--main-color);
  padding: 15px 20px;
  color: var(--white-color);
  font-weight: 700;
  border-radius: 10px;
  font-size: 2.1rem;
  transition: ease-in-out 0.1s;
}

.btn-default:hover{
  background-color: var(--second-color);
}

/* Icons */
.icon-printer {
  display: block;
  width: 40.55px;
  height: 40.63px;
  background: url("../icons/printer.png") no-repeat;
  background-size: 100% 100%;
}

.icon-glass {
  display: block;
  width: 25.58px;
  height: 40.63px;
  background: url("../icons/glass.png") no-repeat;
  background-size: 100% 100%;
}

.icon-tshirt {
  display: block;
  width: 46.68px;
  height: 40.63px;
  background: url("../icons/t-shirt.png") no-repeat;
  background-size: 100% 100%;
}

.icon-coffe {
  display: block;
  width: 40.63px;
  height: 40.63px;
  background: url("../icons/coffee.png") no-repeat;
  background-size: 100% 100%;
}

.icon-dcolor {
  display: block;
  width: 112px;
  height: 32px;
  background: url("../icons/icon_dcolor.png") no-repeat;
  background-size: 100% 100%;
}

.icon-check {
  display: block;
  width: 25px;
  height: 25px;
  background: url("../icons/check.png") no-repeat;
  background-size: 100% 100%;
}

/*##############*/
/* ## INÍCIO ## */

#inicio {
  background: url("../img/background-hero-2.png") no-repeat;
  background-position: right;
  background-size: contain;
  height: 100vh;
}

/* HEADER */
#header {
  width: 100%;
  padding: 40px 2% 40px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo */
#header #logo {
  display: block;
  width: 161px;
  height: 90px;
  background-image: url("../img/dcolor.png");
}

/* menu */
.menu-section #menu ul{
  display: flex;
}

.menu-section #menu .menu-item {
  padding: 10px;
  margin: 0 10px;
}

.menu-section #menu .menu-item a {
  font-size: 1.8rem;
  color: var(--white-color);
  transition: ease-in-out 0.1s;
}

.menu-section #menu .menu-item a:hover {
  color: var(--second-color);
}

/* Hero Content */
#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero .hero-content {
  max-width: 445px;
  margin-right: 15px;
}

#hero .hero-content h1{
  font-size: 4.1rem;
  line-height: 5.1rem;
  font-weight: 700;
  color: var(--second-color);
}

#hero .hero-content h3 {
  font-size: 2.1rem;
  line-height: 3.1rem;
  font-weight: 500;
  color: var(--default-color);
  margin: 20px 0;
}

#hero .hero-content h3 span{
  font-weight: 700;
  color: var(--main-color);
}

#hero .hero-image {
  display: flex;
  justify-content: center;
}

#hero .hero-image img{
  width: 100%;
}


/*##############*/
/* ## SOBRE ## */

#sobre {
  margin-top: 25px;
  margin-bottom: 25px;
}

#sobre h1 {
  font-size: 4.1rem;
  font-weight: 500;
  text-align: center;
}

#sobre h1 span {
  font-weight: 700;
  color: var(--main-color);
  text-decoration-line: underline;
  text-decoration-color: var(--second-color);
}

#sobre .about-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sobre .about-content img {
  border: 3px solid var(--second-color);
  border-radius: 20px;
  max-width: 500px;
  margin: 15px 25px 0 0;
}

#sobre .about-content p {
  min-width: 250px;
  font-size: 1.8rem;
}

/*##############*/
/* ## SOLUÇÕES ## */

#solucoes {
  background: url("../img/bg-services.png") no-repeat;
  background-size: 100% 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 50px;
}

#solucoes .icons-counter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#solucoes .icons-counter .counter-card {
  width: 160px;
  padding: 20px;
  background-color: rgba(255, 102, 0, .3);
  border: 2px dashed var(--second-color);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#solucoes .icons-counter .counter-card h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--second-color);
}

#solucoes .icons-counter .counter-card p {
  font-size: 1.6rem;
  font-weight: 600;
}

#solucoes .solutions {
  margin-top: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#solucoes .solutions img {
  width: 100%;
  max-width: 536px;
}

#solucoes .solutions .services {
  padding: 25px;
}

#solucoes .solutions .services .tag-dcolor {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

#solucoes .solutions .services .tag-dcolor p {
  font-size: 1.6rem;
  margin-right: 10px;
}

#solucoes .solutions .services h1 {
  font-size: 4.1rem;
  margin-left: 40px;
}

#solucoes .solutions .services .service-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 10px 10px 10px 0;
  margin: 5px 0;
}

#solucoes .solutions .services .service-item p {
  font-size: 1.6rem;
  margin-left: 10px;
}


/*#################*/
/* ## DESTAQUES ## */

#destaques .tabs {
  min-width: 320px;
  max-width: 768px;
  margin: 0 auto;
}

#destaques .tabs h1 {
  font-size: 3.5rem;
  color: var(--main-color);
  text-align: center;
  margin: 25px auto;
}

#destaques .tabs .tab-links {
  display: flex;
  justify-content: space-evenly;
}

#destaques .tabs .tab-links button {
  border: none;
  background: transparent;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 10px;
  outline: none;
  cursor: pointer;
  position: relative;
}

#destaques .tabs .tab-links button::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 3px;
  width: 0%;
  background-color: var(--main-color);
  transition: .4s;
}

#destaques .tabs .tab-links button:hover::after,
#destaques .tabs .tab-links button.active::after  {
  width: 100%;
}

#destaques .tabs .tab-content {
  margin-top: 25px;
}

#destaques .tabs .tab-content img {
  width: 50%;
  display: block;
  margin: 0 auto;
}

#destaques .tabs .tab-content h2 {
  font-size: 2.5rem;
  text-align: center;
  color: var(--main-color);
}

#destaques .tabs .tab-content p {
  font-size: 1.6rem;
}

#destaques .tabs .tab-content>section {
  animation: up 1s;
}



/* ############################ */
/* MEDIA QUERIES */

/* 1400 */
@media(max-width: 1400px){
  #inicio{
    background-size: 800px 100vh;
  }
}

/* 1140 Laptop Large */
@media(max-width: 1140px){

  #inicio{
    background-size: 800px 100vh;
  }

}

/* 1024 Laptop */
@media(max-width: 1024px){

  html {
    font-size: 55%;
  }

  #inicio {
    background: none;
    height: auto;
  }

  #menu {
    display: none;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 20px;
  }

  .one, .two, .three {
    background-color: var(--main-color);
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
  }

  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: var(--main-color);

    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-section.on #menu {
    display: block;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    right: 25px;
    top: 65px;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
    background-color: var(--white-color);
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
    z-index: -1;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(9px, -9px);
    background-color: var(--white-color);
  }

  .menu-section.on #menu ul{
    display: block;
    text-align: center;
  }

  .menu-section.on #menu ul a {
    transition-duration: 0.3s;
    font-size: 2.5rem;
    line-height: 6rem;
    display: block;
  }



  #solucoes {
    background-size: cover;
    background-position: center;
  }

}

/* 768 Tablet */
@media(max-width: 768px){

  html {
    font-size: 50%;
  }

  .btn-default {
    padding: 10px 15px;
    font-weight: 500;
  }

  #hero {
    flex-wrap: wrap-reverse;
  }

  #hero .hero-content {
    margin: 10px auto;
    text-align: center;
  }

  #hero .hero-image {
    width: 450px;
    margin: 0 auto;
  }



  #sobre {
    margin-top: 30px;
  }

  #sobre .about-content {
    flex-wrap: wrap;
  }

  #sobre .about-content img {
    width: 80%;
  }

  #sobre .about-content p {
    margin: 15px auto;
  }



  #solucoes .solutions {
    flex-wrap: wrap;
  }


}

/* 744 */
@media(max-width: 744px){
  #solucoes .icons-counter .counter-card{
    margin: 25px
  }
}

/* 425 Mobile Large */
@media(max-width: 425px){

  #header #logo{
    display: block;
    width: 120px;
    height: 67.09px;
    background-image: url("../img/dcolor.png") no-repeat;
    background-size: 100% 100%;
  }

  #solucoes .icons-counter .counter-card {
    margin: 25px auto;
  }

  #solucoes .solutions .services .tag-dcolor p {
    font-size: 1.8rem;
  }

  #solucoes .solutions .services h1 {
    font-size: 3.5rem;
    margin-top: 10px;
  }

  #solucoes .solutions .services .service-item p {
    font-size: 1.8rem;
  }
}


/* ############################ */
/* ANIMAÇÃO */

[data-animate] {
  opacity: 0;
  transition: .5s;
}

[data-animate = left]{
  transform: translate3d(-50px, 0, 0);
}

[data-animate = right]{
  transform: translate3d(50px, 0, 0);
}

[data-animate = up]{
  transform: translate3d(0, -60px, 0);
}

[data-animate].animate{
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
  }
}
